/* Neue Montreal Font Family */
@font-face {
	font-family: "Neue Montreal";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("/fonts/NeueMontreal-Light.otf") format("opentype");
}

@font-face {
	font-family: "Neue Montreal";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("/fonts/NeueMontreal-LightItalic.otf") format("opentype");
}

@font-face {
	font-family: "Neue Montreal";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Neue Montreal";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/NeueMontreal-Italic.otf") format("opentype");
}

@font-face {
	font-family: "Neue Montreal";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Neue Montreal";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/NeueMontreal-MediumItalic.otf") format("opentype");
}

@font-face {
	font-family: "Neue Montreal";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Neue Montreal";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/NeueMontreal-BoldItalic.otf") format("opentype");
}

/* Geist Mono Font Family (Variable Font) */
@font-face {
	font-family: "Geist Mono";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("geist/dist/fonts/geist-mono/GeistMono-Variable.woff2")
		format("woff2");
}
